<!doctype html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
      <title>万事皆允</title>
      <meta name="format-detection" content="telephone=no"/>
      <meta name="full-screen" content="yes">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
      <meta http-equiv="Pragma" content="no-cache">
      <link href="/dist/semantic.css" rel="stylesheet" type="text/css">
      <script src="/libs/jquery-3.2.1.js"></script>
    </head>
    <body>
